.filter-comp{
    background-image:url("https://images.etstur.com/definitions/etstur/slider/26163bb3a4c3adaad35dbc2901a205c9_20221006153758.jpg");
    height: 395px;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}